:root {
  --page-width: 130rem;
  --primary-color: #FEF5EB;
  --secondary-color: #C47959;
}

a {
  text-decoration: none !important;
}


.titleBtn {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: end;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.commonTitle {
  font-size: 30px;
  font-weight: 600;
}

.viewallBtn a {
  color: var(--secondary-color);
  font-size: 16px;
  text-decoration: underline !important;
}

.btn1::before,
.btn1::after {
  display: none;
}

.btn1 {
  background: var(--secondary-color);
  color: #fff;
  border-radius: 5px !important;
  border: 0 !important;
  font-size: 16px;
}

.btn1:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

/*********************************/
.heromarquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slidermarquee-track {
  display: flex;
  animation: marquee 30s linear infinite;
  gap: 10px;
}

.heromasonry-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.herogallery-item {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.herogallery-item img {
  height: auto;
  display: block;
}

.herogallery-item img {
  filter: grayscale(1);
}

.herogallery-item:hover img {
  filter: grayscale(0);
}

.herogallery-item.ratio_2 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.herogallery-item.ratio_3 img {
  width: 300px;
  height: 197px;
  object-fit: cover;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/******************HEADER*************/
.topHeader {
  background: var(--primary-color);
}

.header__heading-logo {
  max-width: 180px;
  width: 100%;
}

.header .search__input.field__input:focus {
  box-shadow: none;
}

.header .search .field::after {
  display: none;
}

.header .search__input.field__input::placeholder {
  color: #D4D4D4;
}

.header .search__input.field__input {
  color: #000;
  border: 1px solid #d7d7d7 !important;
  border-radius: 5px;
}

.header__icons {
  padding-right: 0;
  gap: 10px;
}

.menuHeader .list-menu--inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menuHeader .header__menu-item {
  font-size: 18px;
  text-decoration: none !important;
  color: #000;
}

.menuHeader .header__menu-item span,
.menuHeader .header__active-menu-item {
  text-decoration: none !important;
}

.header-localization .disclosure .localization-form__select {
  font-size: 16px !important;
  text-decoration: none !important;
  color: #000;
}

.header__icon svg {
  transform: scale(1.1);
}

/******************/
.faqSec {
  padding: 50px 0 !important;
  background: #F7F7F7;
}

.faqSec .collapsible-content__heading {
  margin-bottom: 0rem;
}

.faqSec .accordion {
  border: 0;
  border-bottom: 1px solid #c8c8c8;
}

.faqSec .accordion__title {
  font-size: 18px;
  text-decoration: none !important;
}

.faqGrid>.grid__item {
  display: grid;
  grid-template-columns: repeat(2, 48.5%);
  column-gap: 3%;
  row-gap: 20px;
}

.faqGrid .accordion summary {
  padding: 2.5rem 0;
  background: transparent !important;
}

/*****************************/
.collection {
  padding-top: 50px !important;
}
.grid{column-gap: 0;row-gap: 30px;}
.grid .grid__item{
  padding:0 15px;
}

.collection .grid__item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.collection .collection__title,
.collection .collection__title h2 {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.slider-component-full-width .slider--desktop .slider__slide:first-child {
  margin-left: 0 !important;
}

.product-card-wrapper.card-wrapper>.card .card__badge{
  position:absolute;
  top: 10px;
  left:10px;
  z-index: 2;
}
.product-card-wrapper.card-wrapper>.card {
  border: 1px solid #CECECE;
  padding: 15px;
  background: #fff;
}

.product-card-wrapper.card-wrapper>.card .card__inner, .product-card-wrapper.card-wrapper>.card .card__inner .card__media img {
  width: 100%;
  height: 262px;
  object-fit: cover;
}

.product-card-wrapper.card-wrapper>.card .card__information h3 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 47px;
}

.product-card-wrapper.card-wrapper>.card .card__content {
  padding: 0;
}

.product-card-wrapper.card-wrapper>.card .card__information .price-item {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.product-card-wrapper.card-wrapper>.card .card__information {
  padding: 10px 0 0 0;
}

/*****************************/
.collectionProducts .collection-list-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.collectionProducts {
  background: #F2E1CE;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top:50px;
}

/*****************************/
.ctaBanner .banner__content {
  padding: 0;
  align-items: center !important;
}

.ctaBanner .banner__content .banner__box {
  max-width: 100%;
  padding: 0;
}

.ctaBanner .banner__text {
  padding: 0;
  margin-top: -20px !important;
}

.ctaBanner .banner__text p {
  font-size: 36px;
  color: #fff;
}

.ctaBanner .banner__heading {
  font-size: 100px;
  font-weight: 600;
}

/*****************************/
.slider-counter{display: none !important;}
.slider-button .svg-wrapper {
    width: 100%;
    height: 100%;
}
.slider-button .icon {
    height: 100% !important;
}
.slider-button {
    color: #a3a3a3;
      position: absolute;
    top: 40%;
    width: 60px;
    height: 60px;
}
.slider-button--next{
    right: -40px;
}
.slider-button--prev{
    left: -40px;
}
/*****************************/
.SchallplattenSec {
  padding: 50px 0;
}

.cmnTlt h4 {
  margin: 0 0 10px 0;
}

.leftSchallplatten p {
  margin: 0 !important;
     color: #000;
    line-height: 20px;
    text-align: justify;
}

.marginTSchallplatten {
  margin-top: 30px;
}

.SchallplattenRow {
  display: flex;
  flex-wrap: wrap;
    align-items: center;
}

.leftSchallplatten {
  max-width: 50%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.imageSchallplatten {
  max-width: 50%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.imgInnerSchallplatten img{
  width: 100%;
}
.SchallplattenBox {
    background: var(--secondary-color);
    padding: 40px 25px;
    margin-right: -100px;
    z-index: 1;
    position: relative;
    margin-top: 60px;
    row-gap: 50px;
    display: flex;
    flex-wrap: wrap;
}
.SchallplattenIconBox {
    max-width: 50%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.SchallplattenIconBox img {
    max-width: 77px;
    width: 100%;
    object-fit: scale-down;
    height: 50px;
}

.SchallplattenIconBox h4 {
    margin: 0;
    font-size: 23px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.SchallplattenIconBox p {
    font-size: 16px;
    color: #fff;
    text-align: left;
}
/*****************************/
.fokus-sction {
    background: #fff;
    border-radius: 4.2px;
    overflow: hidden;
}
.fokus-sction .card__inner{
  max-height: 307px;
}
.fokus-sction .card__content .card__information{
  padding: 0px !important;
}
.fokus-sction .card__heading {
    display: flex;
    justify-content: space-between;
      align-items: center;
}
.fokus-sction a.full-unstyled-link {
    padding-left: 20px;
    font-size: 24px;
    color: #000;
}
.fokus-sction .explore-button {
    max-width: 40%;
    width: 100%;
    border-left: 0.8px solid #cecece;
    color: #000;
    text-align: center;
    text-decoration: underline !important;
      padding: 10px 20px;
}
.fokus-sction .card__inner .card__media img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*****************************/
.collection-hero{
  position: relative;
      overflow: hidden;
}
.collection-hero .collection-hero__title {
    margin: 0;
    color: #fff;
    font-size: 80px;
    font-weight: 600;
}
.collection-hero .collection-hero__inner{
      position: absolute;
    width: 100%;
    height: 100%;
  max-width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
/*****************************/
.bestsellers-slider .product-card{
  padding:0 15px;
}
/*****************************/
.product__media-wrapper ul.product__media-list .product__media-item.is-active{
  width: 100%;
  max-width: 100% !important;
    max-height: 100%;
    height: 100%;
}
.product__media-wrapper ul.product__media-list .product__media-item {
    max-width: 24% !important;
    max-height: 120px;
    height: 100%;
    width: 100%;
    border: 1px solid #cecece;
}
.product-media-modal__content{
      padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__media-wrapper ul.product__media-list .product__media-item.is-active .product-media-container .media {
    padding-top: 0px !important;
  max-height: 500px;
  min-height: 500px;
  height: 100%;
}
.product-media-modal__dialog .global-media-settings--no-shadow{display: none !important;}
.product-media-modal__dialog .global-media-settings--no-shadow.active{
      max-width: 800px;
  object-fit: scale-down;
  display: block!important;
}
/* .product__media-wrapper ul.product__media-list .product__media-item{
  width: 120px;
  max-height: 120px;
  height: 100%
} */
.product__media-wrapper ul.product__media-list .product__media-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*****************************/
.footer {
  background: var(--primary-color);
  border: 0;
}

.footer .rte p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: justify;
}

.footer__content-top .grid>.footer-block {
  padding: 0 2.5rem;
}

.footer-block__heading {
  font-size: 20px !important;
  font-weight: 500;
}

.footer-block__details-content .list-menu__item--link {
  font-size: 16px;
  color: #000;
}

.footer-block--newsletter {
  align-items: flex-start !important;
  margin-top: 0 !important;
  gap: 0 !important;
}

/* .header__icon .icon {
    height: 22px;
    width: 22px;
} */

/* .image-gallery-wrapper {
    columns: 3;
    column-gap: 1rem;
  } */

@media (max-width: 767.9px) {
  .ctaBanner .banner__content .banner__box {
    padding: 30px 15px;
}
  .ctaBanner .banner__heading {
    font-size: 30px;
  }
  .ctaBanner .banner__text {
    padding: 0;
    margin-top: 0px !important;
}
  .ctaBanner .banner__text p {
    font-size: 18px;
    color: #fff;
}
  .footer__content-top .grid>.footer-block {
    padding: 0rem 0px;
}
  .faqSec, .SchallplattenSec {
    padding: 30px 0 !important;
}
  .faqGrid>.grid__item {
    grid-template-columns: repeat(1, 100%);
    row-gap: 0px;
}
  .faqGrid .accordion summary {
    padding: 1.5rem 0;
  }
  .faqSec .accordion__title {
    font-size: 16px;
  }
  .leftSchallplatten, .imageSchallplatten {
    max-width: 100%;
  }
  .marginTSchallplatten {
    margin-top: 15px;
}
  .SchallplattenBox {
    padding:15px 0px;
    margin-right: 0px;
    margin-top: 20px;
    row-gap: 25px;
}
  .SchallplattenIconBox {
    max-width: 100%;
  }
  .SchallplattenIconBox img {
    max-width: 50px;
  }
  .SchallplattenIconBox h4 {
    font-size: 18px;
    margin-bottom: 2px;
}
  .fokus-sction .card__inner {
    max-height: 150px;
}
  .fokus-sction .explore-button {
    max-width: 40%;
    font-size: 14px;
    padding: 10px 10px;
}
  .fokus-sction a.full-unstyled-link {
    padding-left: 10px;
    font-size: 16px;
}
  .collectionProducts {
    padding: 30px 0;
    margin-top: 0;
}
  .product-card-wrapper.card-wrapper>.card .card__inner, .product-card-wrapper.card-wrapper>.card .card__inner .card__media img {
    height: 90px;
}
  .card:not(.ratio)>.card__content {
    grid-template-rows: none !important;
}
  .product-card-wrapper.card-wrapper>.card .card__information h3 {
    font-size: 14px;
    min-height: 37px;
}
  .product-card-wrapper.card-wrapper>.card {
    padding: 5px;
}
  slider-component.page-width {
        padding: 0 !important;
    }
  .grid {
    row-gap: 16px;
}
  .slider-button--next {
    right: -10px;
}
  .slider-button--prev {
    left: -10px;
}
  .slider-button {
    width: 34px !important;
    height: 34px !important;
}
  .grid .grid__item {
    padding: 0 8px;
}
  .titleBtn {
    grid-template-columns: 2fr 1fr;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
  .commonTitle {
    font-size: 24px;
  }
  .collection {
  padding: 30px 15px !important;
}
  .menu-drawer__account{
    font-size: 1.8rem !important;
  }
  .header-localization .disclosure .localization-form__select {
    font-size: 1.8rem !important;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-180%);
    }
  }

  .herogallery-item.ratio_2 img {
    width: 132px;
    height: 132px;
  }

  .herogallery-item.ratio_3 img {
    width: 150px;
    height: 85px;
    object-fit: cover;
  }

  .header {
    padding: 10px 1rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header header-drawer {
    max-width: 25%;
    width: 100%;
  }

  .header .header__icons {
    max-width: 25%;
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .header .header__icon .svg-wrapper {
    width: 100%;
    height: 100%;
  }

  .header .header__heading {
    max-width: 50%;
  }

  .header .search-modal__form {
    order: 4;
  }
}

@media (min-width: 768px) and (max-width:989.9px) {
  .header-localization .disclosure .localization-form__select {
    font-size: 1.8rem !important;
  }
      .leftSchallplatten, .imageSchallplatten {
        max-width: 100%;
    }
  .SchallplattenBox {
    margin-right: 0 !important;
  }
  .ctaBanner .banner__heading {
    font-size: 50px !important;
  }
  .ctaBanner .banner__text {
    padding: 0;
    margin-top: 0px !important;
}
.ctaBanner .banner__text p {
    font-size: 26px !important;
}
  .slider-button--prev {
    left: -10px;
}
  .slider-button--next {
    right: -10px;
}
      slider-component.page-width {
        padding: 0rem !important;
    }
  .collection {
    padding: 50px 15px 0 !important;
}
  .collectionProducts{
    padding: 50px 15px !important;
  }
  .faqSec, .SchallplattenSec {
    padding: 30px 0 !important;
}
  .ctaBanner .banner__content .banner__box {
    padding: 30px 15px;
}
  .herogallery-item.ratio_3 img {
    width: 270px;
    height: 130px;
  }

  .herogallery-item.ratio_2 img {
    width: 200px;
    height: 200px;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header header-drawer {
    max-width: 25%;
    width: 100%;
  }

  .header .header__icons {
    max-width: 25%;
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .header .header__icon .svg-wrapper {
    width: 100%;
    height: 100%;
  }

  .header .header__heading {
    max-width: 50%;
  }

  .header .search-modal__form {
    order: 4;
  }
}

@media (min-width: 768px) {
  .image-gallery-wrapper {
    columns: 4;
  }
}

@media (min-width: 1024px) {
  .image-gallery-wrapper {
    columns: 4;
  }

  .image-gallery-item img {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
  }
}

@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .header {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

@media (min-width: 990px) and (max-width:1024.9px) {
  .menuHeader .header__menu-item {
    font-size: 16px;
  }
}
(min-width: 990px) {
    .product--large:not(.product--no-media) .product__media-wrapper {
        max-width: 50% !important;
        width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    }
      .product--large:not(.product--no-media) .product__info-wrapper {
        padding: 0 0 0 4rem;
        max-width: 50% !important;
        width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    }
}
@media (min-width: 990px) and (max-width:1278.9px) {
    .slider-button--next {
    right: 0px !important;
}
    .slider-button--prev {
    left: 0px !important;
}
  .fokus-sction a.full-unstyled-link {
    padding-left: 10px;
    font-size: 18px;
}
  .fokus-sction .explore-button {
    max-width: 42%;
    padding: 10px 10px;
    font-size: 14px;
  }
  .ctaBanner .banner__heading {
    font-size: 70px !important;
  }
    .ctaBanner .banner__text p {
    font-size: 30px;
    }
    .ctaBanner .banner__text {
    padding: 0;
    margin-top: -10px !important;
}
}